<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.myproduction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProduction">
        <activity
            android:name=".ui.invoice.InvoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.invoice.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase_order.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase_order.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.cusotomer_data.CustomerDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase_order.PODetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase_order.POActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.FormulatedCatalogueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.FormulatedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.FormulatedAddEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.material.MaterialDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.material.MaterialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.material.MaterialAddEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_racikan.FormulatedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_umum.HerbsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_umum.HerbsAddEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.obat_umum.SingleHerbsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.managing_sales.ManagingSalesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.managing_sales.ManagingSalesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>